@import "../../../../../node_modules/@litres-libs/global-styles/src/base/index";

.bonusNotify {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 12px 12px 16px;
  border-radius: 16px;

  background: $pallets-blue-5;
  @include min-screen-700 {
    max-width: 354px;
  }
  &__title {
    @include Label;
    line-height: 22px;
  }
  &__description {
    display: flex;
    flex-direction: column;

    color: $pallets-gray-70;
    line-height: 18px;
    @include BodyM;
    @include min-screen-700 {
      display: block;
      flex-direction: row;
    }
  }

  &__button {
    margin: 0;
    padding: 0;
    border: none;

    color: #3D3DC7;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 18px;

    background: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
  }
}